{% extends "admin/base.html" %}
{% load i18n %}{% load admin_static bootstrapped_goodies_tags %}{% load static %}

{% block extrastyle %}
<link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet"/>
{% endblock %}

{% block title %}{{ APP_META.NAME }} | Admin{% endblock %}

{% block branding %}
<a class="navbar-brand" href="{% url 'remote_index' %}"><i class="fa fa-calculator"></i> {{ APP_META.NAME }}</a>
<a class="navbar-brand" href="{% url 'admin:index' %}"><i class="fa fa-dashboard"></i> ADMIN</a>
{% endblock %}

{% block nav-global %}{% endblock %}
