{% load static %}
{% load url from future %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ APP_META.NAME }}</title>
        <meta name="description" content="{{ APP_META.DESCRIPTION }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet"/>
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">

        <script src="{% static "js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ APP_META.NAME }}</a>
          <a class="navbar-brand" href="{% url 'admin:index' %}">(<span class="{% if request.user.is_authenticated %}text-success{% endif %}"><i class="fa fa-user"></i> {{ request.user }}</span>)</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </nav>


    <div class="container">

    <h1>{{ APP_META.NAME }} <small>universal remote control (v{{ APP_META.VERSION }})</small></h1>

    <div class="jumbotron">
      <div class="container">
          <div class="alert alert-info" id="status">
               
              <div id="action-payload">
                  {% if ACCOUNT %}
                  <p>no result yet. <br/>click an action button to get started...</p>
                  {% else %}
                  <p>u are not logged in yet, so you have no actions on your trolmote.<br/><b>BUT</b> you can <a href="mailto:tech@nuchwezi.com">request</a> to get an account on this <i>invite-only</i> trolmote instance (or setup your own by grabbing the OpenSource trolmote code <a href="https://bitbucket.org/nemesisfixx/trolmote">here</a>), sign-in and control the world with yo trolmote.</p>
                  {% endif %}
              </div>

          </div>
      </div>
    </div>

  <div class="container">
      <div class="row">
      {% if ACCOUNT %}

      {% for control in ACCOUNT.my_controllables.all %}
            <button class="control {% if not control.enabled %}disabled{% endif %}{{ control.action_class }}" data-href="{% if control.enabled %}{{ control.action_uri }}{% endif %}">
                <i class="{{ control.icon_class }}"></i>
                {{ control.name }}
            </button>
        {% endfor %}
         
      {% endif %}
      </div>
  </div>

      <hr>

      <footer>
        <p>&copy; NuChwezi 2015</p>
      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.11.2.min.js" %}"><\/script>')</script>

    <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>

    <a href="#" id="trigger-uri" style="display:none;"></a>
    <script src="{% static "js/main.js" %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
